html, body {
  height: 100%;
  width: 100%;
  overflow: hidden;
  padding: 0;
  margin: 0; 
  background-color: #F0EFEC; }

body {
  overflow-y: scroll;
  color: #333;
  -webkit-font-smoothing: antialiased; }

.container {
  max-width:720px;
  margin: auto;
}

h1 {
  font-size: 40px;
  font-weight: 100;
  line-height: 1.6; }

.intro__links {
  display: flex;
  justify-content: start;
  border-bottom: 2px solid;
  border-color: #003EE8;
  font-size: 16px; }


.intro .intro__links li:first-child {
  text-align: left; }

.intro__links li {
  flex: 1;
  list-style: none;
  text-align: center; }


.intro__links a {
  text-decoration: none; }


.intro__links a:hover {
  color: #003EE8; }

list-style: none;